# Ignore all ...
/*

# ... but track specific files / folders: 

# General files
!.gitignore
!/README.md
!/LICENSE

# DDEV config and provider script
!/.ddev
/.ddev/*
!/.ddev/config.yaml
!/.ddev/providers
/.ddev/providers/*
!/.ddev/providers/ssh.example.yaml
!/.ddev/providers/backup.yaml

# Child theme:
!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/train2lake-backend-wp
